extends layout/layout

block page_scripts
    script(
        data-main="/js/index",
        src="/js/lib/require.js"
    )

block content
    //.row
    //    .col-md-10.col-md-offset-1
    //        .alert.alert-danger.alert-dismissible
    //            button.close(type="button", 
    //                         data-dismiss="alert", 
    //                         aria-label="close")
    //                span(aria-hidden="true")
    //            span Disconnected from server.
    include index/top
    .row.fill
        include index/editor
        include index/menu
    include index/modal/add-op
    include index/modal/monitor
    include index/modal/add-program
    include index/modal/add-helper
    include index/modal/insert-sensor
    include index/modal/insert-actuator
    include index/modal/confirm-remove-program
