.col-md-2
    .panel.panel-primary
        .panel-heading
            .row
                .col-md-10
                    .h1.panel-title Programs
                .col-md-2
                    button.btn.btn-default.btn-xs(
                    data-bind="click: addProgramModal"
                    data-toggle="modal",
                    data-target="#add-program"
                    )
                        span.glyphicon.glyphicon-plus
        .panel-body
            .list-group(data-bind='foreach: programs')
                a.list-group-item(href="#", data-bind='attr: { id: "program" + id }, text: name, click: $root.loadProgram')
    .panel.panel-primary
        .panel-heading
            h3.panel-title Sensors
        .panel-body(data-bind="with: program")
            .list-group(data-bind='foreach: availableSensors')
                a.list-group-item(href="#", data-bind='attr: { id: "sensor" + id }, text: name, click: $parent.addStream')
    .panel.panel-primary
        .panel-heading
            h3.panel-title Helpers
        .panel-body(data-bind="with: program")
            .list-group(data-bind='foreach: helpers')
                a.list-group-item(href="#", data-bind='attr: { id: "helper" + id }, text: name')