#add-helper.modal.fade(role='dialog',tabindex="-1",data-bind="with: helperModal")
    .modal-dialog(role='document')
        .modal-content
            form(data-bind="submit: save")
                .modal-header
                    h4.modal-title Add helper
                .modal-body
                    div.row
                        .col-md-12
                            input(type='hidden', data-bind='value: id')
                            .form-group
                                label(for='field-name') Helper name
                                input#field-name.form-control(
                                placeholder="Name",
                                data-bind="value: name"
                                )
                            .form-group
                                label(for='field-parameter-name') Parameter name
                                input#field-parameter-name.form-control(
                                placeholder="Name",
                                data-bind="value: parameterName"
                                )
                    div.row
                        .col-md-12
                            .form-group
                                label Body
                                input(type='hidden', data-bind='value: body')
                                div#field-body.ace-editor
                .modal-footer
                    .row
                        .col-md-4.text-left
                            // ko if: id()
                            .btn.btn-danger(data-bind="click: remove") Delete
                            // /ko
                        .col-md-8
                            a.btn.btn-default(data-dismiss="modal") Close
                            button.btn.btn-primary(type="submit", data-binding="enable: isValid()") Save