#add-helper.modal.fade(role='dialog',tabindex="-1",data-bind="with: helperModal")
    .modal-dialog(role='document')
        .modal-content
            form(data-bind="submit: save")
                .modal-header
                    h4.modal-title Add helper
                .modal-body
                    div.row
                        .col-md-12
                            input(type='hidden', data-bind='value: id')
                            .form-group
                                label(for='field-name') Name
                                input#field-name.form-control(
                                placeholder="Name",
                                data-bind="value: name"
                                )
                    div.row
                        .col-md-12
                            input(type='hidden', data-bind='value: body')
                            div#field-body.ace-editor
                .modal-footer
                    a.btn.btn-default(data-dismiss="modal") Close
                    //button.btn.btn-primary(type="submit", data-binding="enable: isValid()") Save