#monitor.modal.fade(role='dialog',tabindex="-1",data-bind="with: monitorModal")
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h4.modal-title Monitor
            .modal-body
                p Test
